ANASA_WORKSPACE_ROOT=/Users/cigro/Desktop/.anasa-worktrees
ANASA_BE_REPO=/Users/cigro/Desktop/be_anasa
ANASA_FE_REPO=/Users/cigro/Desktop/fe_anasa
ANASA_GITHUB_OWNER=litmers-dev
ANASA_BACKEND_DEPLOY_WORKFLOW=deploy-staging.yml
ANASA_PREVIEW_ONLY=true
ANASA_RELEASE_TICKETS=
